:root {
  --radius: 0.5rem;

  --max-width: 1536px;

  --header-height: 3.5rem;

  --z-index-1: 1; /* Наезжающие в общем потоке */
  --z-index-2: 2; /* Наезжающие в общем потоке */
  --z-index-3: 3; /* Маски, заливки */
  --z-index-4: 4; /* Сайдбары */
  --z-index-5: 5; /* Модалки, Алерты, Тосты */
  --z-index-6: 6; /* Перекрывающие все */
}